<!doctype html>
<html lang="en" style="background-color: white;">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
        <link rel="stylesheet" href="{% static "bootstrap.min.css" %}" />
        <link rel="stylesheet" href="{% static "input.css" %}">
        <link rel="stylesheet" href="{% static "create_scenario.css" %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static "loading.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "loading-btn.css" %}">
        <title>SGRW - creando escenario</title>
    </head>
    <body style="background-color: white;">
        {% if msg %}
                {% if type == 'danger' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="position: absolute; top: 20px; right: 15px; width: 30%; margin-left: auto; margin-right: 20px; margin-bottom: -10px;">
                {% else %}
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="position: absolute; top: 20px; right: 15px; width: 30%; margin-left: auto; margin-right: 20px; margin-bottom: -10px;">  
                {% endif %}    
                    {{ msg }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        <div style="margin-top: 45px; margin-left: 30%; margin-right: 30%; display: flex;">
            
            <a class="btn btn-outline-secondary rounded-circle" href="javascript: history.go(-1)" style="margin-top: auto; margin-bottom: auto;">
                <em class="fa fa-chevron-left"></em>
            </a>
            <h5 style="margin-left: 15px; color: #0070ad;" class="display-4" >{{ app }} - Añadir escenario</h5>
     
        </div>
        <div style="margin-left: 30%; margin-right: 30%; background-color: white; height: 100%; margin-top: 15px;">
            <ul class="nav nav-tabs" id="myTab" role="tablist" style="display: flex;">
                <li class="nav-item">
                    <a class="nav-link active" id="jmeter-tab" data-toggle="tab" href="#jmeter" role="tab" aria-controls="jmeter" aria-selected="true">Jmeter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="load-runner-tab" data-toggle="tab" href="#load-runner" role="tab" aria-controls="load-runner" aria-selected="false">Load Runner</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent" style="display: block; margin-left: 50px;">
                <div class="tab-pane fade show active" id="jmeter" role="tabpanel" aria-labelledby="jmeter-tab">
                    <div id="jmeter" style="margin-top: 15px;">
                        <form method="POST" action="{% url 'SGRW:scenario_create_jmeter' user.username app %}" enctype="multipart/form-data" onsubmit="showLoaderJmeter()">
                            {% csrf_token %}
                            <div class="alert alert-info" role="alert" style="margin-top: 25px; border-left: solid 3px #0070ad; border-right: solid 3px #0070ad;">
                                <strong>Nota: </strong>La operación de carga puede tardar de 10~60 segs dependiendo del tamaño del archivo.
                            </div>
                            <div class="form-group">
                                <label for="nameInputJmeter">Nombre escenario</label>
                                <input type="text" class="form-control" id="nameInputJmeter" aria-describedby="nameHelp" placeholder="Introduce nombre" name="escenarioNameJmeter" required>
                                <small id="nameHelp" class="form-text text-muted">Asegurate que identifica inequivocamente al escenario.</small>
                            </div>
                            <label for="input-group mb-3">summary-results.jtl</label>
                            <div class="input-group mb-3" style="width: 100%;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupFileJmeter">Subir</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFileJmeter01" name="inputGroupFileJmeter01" aria-describedby="inputGroupFileJmeter" required>
                                    <label class="custom-file-label" for="inputGroupFileJmeter01">Elige fichero</label>
                                </div>
                            </div>
                            <div class="dropdown-divider" style="width: 100%; margin-top: 20px; margin-bottom: 15px;"></div>
                            <div>
                                <button type="submit" class="btn btn-primary ld-ext-right" id="submit-btn-jmeter"><div class="ld ld-ring ld-spin"></div>Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab-pane fade" id="load-runner" role="tabpanel" aria-labelledby="load-runner-tab">
                    <div id="load-runner" style="margin-top: 10px;">
                        <form method="POST" action="{% url 'SGRW:scenario_create_lr' user.username app %}" enctype="multipart/form-data" onsubmit="showLoaderLR()">
                            {% csrf_token %}
                            <div class="alert alert-warning" role="alert" style="margin-top: 25px; border-left: solid 3px #856404; border-right: solid 3px #856404;">
                                <strong>Atencion: </strong>Asegurate que el fichero está en buenas condiciones. (A veces LR lo exporta mal).
                            </div>
                            <!-- <div class="dropdown-divider" style="width: 100%; margin-bottom: -10px;"></div> -->
                            <div class="form-group">
                                <label for="nameInputLR">Nombre escenario</label>
                                <input type="text" class="form-control" id="nameInputLR" aria-describedby="nameHelp" placeholder="Introduce nombre" name="escenarioNameLR" required>
                                <small id="nameHelp" class="form-text text-muted">Asegurate que identifica inequivocamente al escenario.</small>
                            </div>
                            <label for="input-group mb-3">Json transacciones</label>
                            <div class="input-group mb-3" style="width: 100%;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupFileAddon01">Subir</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile01" name="inputGroupFile01" aria-describedby="inputGroupFileAddon01" required>
                                    <label class="custom-file-label" for="inputGroupFile01">Elige archivo</label>
                                </div>
                            </div>

                            <label for="input-group mb-3">Json usuarios virtuales</label>
                            <div class="input-group mb-3" style="width: 100%;">
                                <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon02">Subir</span>
                                    </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile02" name="inputGroupFile02" aria-describedby="inputGroupFileAddon02" required>
                                    <label class="custom-file-label" for="inputGroupFile02">Elige archivo</label>
                                </div>
                            </div>
                            <div class="dropdown-divider" style="width: 100%; margin-top: 20px; margin-bottom: 15px;"></div>
                            <div>
                                <button type="submit" class="btn btn-primary ld-ext-right" id="submit-btn"><div class="ld ld-ring ld-spin"></div>Guardar</button>
                            </div>
                            
                        </form>
                        
                    </div>
                </div>
                
            </div>
        </div>
        <script>
            function showLoaderLR(){
                let button = document.getElementById("submit-btn");
                button.disabled = true;
                button.classList.add("running");
                button.submit();
            }

            function showLoaderJmeter(){
                let button = document.getElementById("submit-btn-jmeter");
                button.disabled = true;
                button.classList.add("running");
                button.submit();
            }
        </script>
        <script src="{% static "jquery-3.3.1.slim.min.js" %}"></script>
        <script src="{% static "popper.min.js" %}"></script>
        <script src="{% static "bootstrap.min.js" %}"></script>  
        <script src="{% static "file_input.js" %}"></script>
    </body>
</html>